doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		link(rel='stylesheet' href='/css/bootstrap.min.css')
		link(rel='stylesheet' href='/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/css/style.css')
	body
		block content

		script(type='text/javascript' src='/js/bootstrap.min.js')
		script(type='text/javascript' src='/socket.io/socket.io.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
		script(type='text/javascript' src='/js/chatFunctions.js')
